
ep6_out_003.pat
episode_6_example_002.ort
episode_6_example_002.ort.pat
episode_6_example_002b.ort.pat
orbatext.exe
src/main.o
src/optimise.o
src/reader.o
src/text-box.o
src/text-entry.o
src/writer.o
keen6_levels_4.txt
keen6_levels_4.txt.pat
